@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(40, 98, 116);
    color: #fcfcff;
    position: relative;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(1.5rem);
    background-color: rgba(186, 188, 189, 0.096);
    position: absolute;

}

main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.cabecalho{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem .3125rem;
}
.logo{
    font-size: 1.25rem;
    font-weight: 700;
    font-family: 'Source Code Pro', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-bottom: .625rem;
    color: rgb(245, 245, 245);
}

.nav-links{
    display: flex;
    align-items: center;
}

.nav-links a{
    color: rgb(245, 245, 245);
}

.nav-links a:hover{
    color: #242323;
}

.nav-links li:not(:last-child){
    margin: 0 .625rem;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../img/pontos-tur-bannerjpg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.banner h1 {
    font-size: 1.5625rem;
    color: #fcfcff;
    text-shadow: .125rem .0625rem .0625rem #000;
}

section {
    width: 100%;
    padding: 0 1.25rem;
}

article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    gap: 1.25rem;
}
article h3 {
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
    text-align: center;
}
article img {
    width: 100%;
    object-fit: cover;
    box-shadow: 2px 2px 20px #f8f8f8;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    background-image: url(../img/background-footer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px #000;


    position: relative;
}
footer p{
    font-size: large;
}
footer a{
    color: rgb(31, 122, 240);
}
.btn-top{
    position: absolute;
    top: -16px;
    right: 20px;
}
.btn-top a, i{
    font-size: 2rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

@media (min-width:768px) {
    .cabecalho{
        flex-direction: row;
        align-items: center;
        max-width: 1024px;
        margin: 0 1.25rem;
    }
    .logo{
        font-size: 1.5rem;
    }
    .nav-links li{
        font-size: 1.25rem;
    }
    .banner h1{
        font-size: 3rem;
    }
    article{
        flex-direction: row;
        max-width: 1024px;
        margin:  1.25rem 0;
    }
    article img{
        width: 50%;
    }
    footer{
        height: 110px;
    }

    .btn-top a, i{
        font-size: 3rem;
    }
}